# NODE MODULES
smart-auth/node_modules/
smart-auth/package-lock.json

# SYMFONY BUNDLES 
smart-dcotrina/public/bundles/
smart-doctrina/symfony.lock
smart-doctrina/composer.lock


# DOCKER VOLUMES
db_data/

# Frontend
frontend/node_modules/
frontend/package-lock.json